<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title class="mainTitle" size="large">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="login" style="display: none">
    <form (ngSubmit)="LoginMethod()">
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" [(ngModel)]="Username" name="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="Password" name="Password"></ion-input>
      </ion-item>
      <h3 id="error" class="cred">Please enter valid credentials</h3>
      <h3 id="sameusernameerror" class="username">Username already taken</h3>
      <ion-button class="loginbut" type="submit" block>Login</ion-button>
    </form>
    <ion-button class="createbut" (click)="RegistrationMethod()" block>Create an account</ion-button>
  </div>
  
  <div id="alreadylogged" style="display: none">
    <h1 class="Already">You are already connected.</h1>
    <ion-button class="disconnectbut" (click)="Disconnect()">Disconnect</ion-button>
  </div>

</ion-content>
