<ion-header collapse="condense">
  <ion-toolbar style="--background: #ff9f1c; height: 3.5rem;">
    <ion-icon color=dark name="beer-outline" style="font-size: 2rem; padding-left: 2rem;"></ion-icon>
    <ion-title style="font-size: 1.8rem;">Breweries DB</ion-title>
    <ion-icon color=dark name="beer-outline" style="position: absolute; font-size: 2rem; right: 2rem;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="notConnected" class="notConnected">
    <h1>Sorry, but you must be connected to see this section.</h1>
  </div>

  <ion-list id="listID" style="height: 100%;">
    <ion-item *ngFor="let brewery of Breweries" (click)="openBreweryInfos(brewery.id)">
      <ion-text>{{brewery.name}}</ion-text>
    </ion-item>
  </ion-list>  
</ion-content>
