.notConnected{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    backdrop-filter: blur(0.4rem);
    overflow: hidden;
}

.notConnected h1{
    position: absolute;
    top: 8rem;
    text-align: center;
    color: red;
}

.toolbar{
    --background: #ff9f1c;
    height: 3.5rem;
}

.beericon{
    font-size: 2rem;
    padding-left: 2rem;
}

.beericon2{
    position: absolute;
    font-size: 2rem; 
    right: 2rem;
}

.list{
    height: 100%;
}