<ion-header collapse="condense">
  <ion-toolbar class="toolbar">
    <ion-icon color=dark name="beer-outline" class="beericon"></ion-icon>
    <ion-title style="font-size: 1.8rem;">Breweries DB</ion-title>
    <ion-icon color=dark name="beer-outline" class="beericon2"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="notConnected" class="notConnected">
    <h1>Sorry, but you must be connected to see this section.</h1>
  </div>

  <ion-list id="listID" class="list">
    <ion-item *ngFor="let brewery of Breweries" (click)="openBreweryInfos(brewery.id)">
      <ion-text>{{brewery.name}}</ion-text>
    </ion-item>
  </ion-list>  
</ion-content>
